<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @if (Listing != null && Listing.Item != null)
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Listing.Item.ItemName</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (Listing.Item.ItemType == EItemType.GUN)
                    {
                        <GunSummary GunId="Listing.Item.ItemId" Metadata="Listing.Metadata" />
                    }
                    <h3>Listing Info</h3>
                    <ul class="list-unstyled">
                        <li><b>Seller:</b> @Listing.SellerId</li>
                        <li><b>Price:</b> $@Listing.Price</li>
                        <li><b>Quality:</b> @Listing.Quality</li>
                        @if (Listing.Item.ItemType == EItemType.FUEL)
                        {
                            <li><b>Fuel:</b> @BitConverterExtras.GetUshort(Listing.Metadata, 0)</li>
                        }
                        @if (Listing.Item.ItemType == EItemType.MAGAZINE)
                        {
                            <li><b>Magazine:</b> @Listing.Amount/@Listing.Item.Amount</li>
                        }
                    </ul>
                    @ChildContent
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @if (IsBuy)
                    {
                        <button type="button" @onclick="() => OnClickBuy.InvokeAsync(Listing)" class="btn btn-primary">Buy for $@Listing.Price</button>
                    }
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public MarketItem Listing { get; set; }

    [Parameter]
    public EventCallback<MarketItem> OnClickBuy { get; set; }
    [Parameter]
    public bool IsBuy { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
